.page-top {
  padding-top: 74px;
}

.h-fit {
  height: calc(100vh - 74px);
}

.or-line::after {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: $gray-400;
  z-index: -10;
}

.music-top-64{
  margin-top: 16px;
  @include media-breakpoint-up(xl){
    margin-top: 256px;
  }
}

.multiline-ellipsis { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}