// Utilities

$utilities: ();// !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: (
        start: left,
        end: right,
        center: center,
        justify: justify,
      )
    ),
  ),
  $utilities
);
