<footer class="bg-gray-800">
  <div class="container py-5 py-lg-10">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column justify-content-center align-items-center align-items-lg-start">
          <a href="index.html">
            <svg style="height: 38px" class="mb-5 mb-lg-10" id="comusic-logo-whtie" data-name="comusic-logo-whtie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.68 38.18"><defs><style>.cls-1{fill:#dafe49;}.cls-2{font-size:26px;fill:#3d3d3d;font-family:Lemon-Regular, Lemon;}.cls-3{fill:#fff;letter-spacing:0em;}</style></defs><circle class="cls-1" cx="18" cy="18" r="18"/><text class="cls-2" transform="translate(1.31 27.15)">co<tspan class="cls-3" x="35.18" y="0">Music</tspan></text></svg>
          </a>
          <ul class="d-flex gap-6">
            <li><a href="#"><i class="bi bi-facebook text-primary fs-6"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram text-primary fs-6"></i></a></li>
            <li><a href="#"><i class="bi bi-youtube text-primary fs-6"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-6">
        <ul class="row">
          <li class="col-4">
            <p class="text-primary mb-2">coMusic</p>
            <ul class="d-flex flex-column gap-2">
              <li><a href="index.html" class="text-white">首頁</a></li>
              <li><a href="#" class="text-white">熱門排行</a></li>
              <li><a href="#" class="text-white">音樂類型</a></li>
              <li><a href="#" class="text-white">音樂人</a></li>
              <li><a href="#" class="text-white">會員登入</a></li>
            </ul>
          </li>
          <li class="col-4">
            <p class="text-primary mb-2">關於我們</p>
            <ul class="d-flex flex-column gap-2">
              <li><a href="#" class="text-white">關於我們</a></li>
              <li><a href="#" class="text-white">聯絡我們</a></li>
              <li><a href="#" class="text-white">常見問題</a></li>
            </ul>
          </li>
          <li class="col-4">
            <p class="text-primary mb-2">條款</p>
            <ul class="d-flex flex-column gap-2">
              <li><a href="#" class="text-white">會員服務條款</a></li>
              <li><a href="#" class="text-white">隱私權保護政策</a></li>
              <li><a href="#" class="text-white">著作權保護措施</a></li>
              <li><a href="#" class="text-white">免責聲明</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-top border-gray-600 py-3 py-lg-5 text-center text-white">
    Copyright © 2023 coMusic <br class="d-lg-none"> 資料、圖片僅作為作品集使用，無商業用途
  </div>
</footer>