<header class="position-fixed top-0 start-0 end-0 mx-auto bg-white border-bottom border-1" style="z-index: 100;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <svg style="height: 48px" id="coMusic logo" data-name="coMusic logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.68 38.18"><defs><style>.cls-1{fill:#dafe49;}.cls-2{font-size:26px;fill:#3d3d3d;font-family:Lemon-Regular, Lemon;}</style></defs><circle class="cls-1" cx="18" cy="18" r="18"/><text class="cls-2" transform="translate(1.31 27.15)">coMusic</text></svg>
        <h1 class="d-block text-replace">coMusic</h1>
      </a>
    </div>
  </nav>
</header>
