<div class="container pt-6 pb-20 px-lg-20">
  <div class="row gy-6">
    <div class="col-lg-5">
      <div class="d-flex flex-column h-100 text-center text-lg-start">
        <div class="mb-6 d-flex justify-content-center justify-content-lg-start">
          <h2 class="fs-6 bg-gray-900 text-primary px-3 py-1 w-fit-content" style="transform: rotate(-2deg);">焦點作品 <span class="fs-5">Focus</span></h2>
        </div>
        <div class="rounded-5 overflow-hidden position-relative text-white">
          <img src="../assets/images/hot-4.jpg" class="w-100 song-img object-fit-cover" alt="">
          <div class="p-3 position-absolute bottom-0 start-0 end-0">
            <div class="bg-black bg-opacity-50 filter-blur-5 p-6 rounded-5">
              <p>這是創作的標題</p>
              <p>這是創作的作者</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="d-flex flex-column h-100 text-center text-lg-start">
        <div class="mb-6 d-flex justify-content-center justify-content-lg-start">
          <h2 class="fs-6 bg-gray-900 text-primary px-3 py-1 w-fit-content" style="transform: rotate(-2deg);">熱門作品 <span class="fs-5">Popular</span></h2>
        </div>
        <ul class="h-100 d-flex flex-column justify-content-between">
          <li class="shadow rounded-4 d-flex align-items-center py-2">
            <p class="fs-6 mx-6">1</p>
            <a href="#"><img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-3.jpg" alt=""></a>
            <div class="ms-6">
              <p><a href="#">這是哥的標題</a></p>
              <p><a href="#">這是哥的作者</a></p>
            </div>
          </li>
          <li class="shadow rounded-4 d-flex align-items-center py-2">
            <p class="fs-6 mx-6">1</p>
            <a href="#"><img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-3.jpg" alt=""></a>
            <div class="ms-6">
              <p><a href="#">這是哥的標題</a></p>
              <p><a href="#">這是哥的作者</a></p>
            </div>
          </li>
          <li class="shadow rounded-4 d-flex align-items-center py-2">
            <p class="fs-6 mx-6">1</p>
            <a href="#"><img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-3.jpg" alt=""></a>
            <div class="ms-6">
              <p><a href="#">這是哥的標題</a></p>
              <p><a href="#">這是哥的作者</a></p>
            </div>
          </li>
          <li class="shadow rounded-4 d-flex align-items-center py-2">
            <p class="fs-6 mx-6">1</p>
            <a href="#"><img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-3.jpg" alt=""></a>
            <div class="ms-6">
              <p><a href="#">這是哥的標題</a></p>
              <p><a href="#">這是哥的作者</a></p>
            </div>
          </li>
          <li class="shadow rounded-4 d-flex align-items-center py-2">
            <p class="fs-6 mx-6">1</p>
            <a href="#"><img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-3.jpg" alt=""></a>
            <div class="ms-6">
              <p><a href="#">這是哥的標題</a></p>
              <p><a href="#">這是哥的作者</a></p>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <!-- <div class="col-lg-5">
      <h2 class="mb-4 pb-2 fs-6 text-center text-lg-start">焦點作品</h2>
      <div class="card h-100">
        <img src="../assets/images/hot-6.jpg" class="object-fit-cover" style="height: 100%" alt="">      
      </div>
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <img class="song-img" src="../assets/images/hot-6.jpg" alt="">
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-7">
      <h2 class="mb-4 pb-2 fs-6 text-center text-lg-start">最受歡迎作品</h2>

      <ul class="">
        <li class="d-flex align-items-center py-2 border-bottom border-gray-200">
          <p class="fs-6 mx-6">1</p>
          <img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-8.jpg" alt="">
          <div class="ms-6">
            <p>這是哥的標題</p>
            <p>這是哥的作者</p>
          </div>
        </li>
        <li class="d-flex align-items-center py-2 border-bottom border-gray-200">
          <p class="fs-6 mx-6">1</p>
          <img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-8.jpg" alt="">
          <div class="ms-6">
            <p>這是哥的標題</p>
            <p>這是哥的作者</p>
          </div>
        </li>
        <li class="d-flex align-items-center py-2 border-bottom border-gray-200">
          <p class="fs-6 mx-6">1</p>
          <img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-8.jpg" alt="">
          <div class="ms-6">
            <p>這是哥的標題</p>
            <p>這是哥的作者</p>
          </div>
        </li>
        <li class="d-flex align-items-center py-2 border-bottom border-gray-200">
          <p class="fs-6 mx-6">1</p>
          <img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-8.jpg" alt="">
          <div class="ms-6">
            <p>這是哥的標題</p>
            <p>這是哥的作者</p>
          </div>
        </li>
        <li class="d-flex align-items-center py-2 border-bottom border-gray-200">
          <p class="fs-6 mx-6">1</p>
          <img style="height: 72px; width: 72px" class="rounded-4 object-fit-cover" src="../assets/images/hot-8.jpg" alt="">
          <div class="ms-6">
            <p>這是哥的標題</p>
            <p>這是哥的作者</p>
          </div>
        </li>
      </ul>
    </div> -->
  </div>
</div>

<div class="bg-gray-100 rounded-main">
  <div class="container py-20 px-lg-20">
    <h2 class="mb-4 fs-8 bg-gray-900 text-primary w-fit-content px-2 py-1" style="transform: rotate(-2deg);">專輯</h2>
    <!-- <h2 class="mb-4 pb-2 fs-8 text-center text-lg-start">專輯</h2> -->
    <ul class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-6">
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-7.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-6.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col">
        <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
          <a href="#">
            <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
          </a>
          <div class="position-absolute bottom-0 start-0 end-0 p-2">
            <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
              <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
              <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
              <div class="mt-3 d-flex gap-2">
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
                </button>
                <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                  <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container py-20 px-lg-20">
  <h2 class="mb-4 pb-2 fs-8 text-center text-lg-start">單曲</h2>
  <ul class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-6">
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- <div class="mb-8">
  <h2 class="mb-4 border-bottom pb-2 fs-6">專輯</h2>
  
  <ul class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-6">
    <li class="col">
      <div class="card border-0 rounded-30 overflow-hidden position-relative" href="#">
        <a href="#">
          <img class="song-img object-fit-cover w-100" src="../assets/images/hot-8.jpg" alt="">
        </a>
        <div class="position-absolute bottom-0 start-0 end-0 p-2">
          <div class="py-4 px-6 rounded-30 bg-black bg-opacity-50 filter-blur-5">
            <h3><a class="fs-5 text-white" href="#">我是音樂標題</a></h3>
            <h4 class="mb-2"><a class="fs-4 text-gray-100" href="#">我是作者名稱</a></h4>
            <div class="mt-3 d-flex gap-2">
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-heart-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-3 fw-700 bi bi-share-fill text-white"></i>
              </button>
              <button class="btn border border-2 border-white d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
                <i class="fs-4 fw-700 bi bi-plus-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 p-4" href="#">
        <img src="../assets/images/hot-7.jpg" class="rounded-30 object-fit-cover" style="aspect-ratio: 1/1;;" alt="">
        <div class="p-4">
          <h3><a class="fs-5" href="#">我是音樂標題</a></h3>
          <h4 class="mb-2"><a class="fs-4 text-gray-600" href="#">我是作者名稱</a></h4>
          <div class="mt-3 d-flex gap-2">
            <button class="btn border border-2 border-gray-600 d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
              <i class="fs-3 fw-700 bi bi-heart-fill text-gray-600"></i>
            </button>
            <button class="btn border border-2 border-gray-600 d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
              <i class="fs-3 fw-700 bi bi-share-fill text-gray-600"></i>
            </button>
            <button class="btn border border-2 border-gray-600 d-flex align-items-center justify-content-center rounded-circle" style="height: 36px; width: 36px;">
              <i class="fs-4 fw-700 bi bi-plus-lg text-gray-600"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div> -->