<li class="col-8 d-lg-none">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-14.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">沈默紳士</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musician-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-1.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">自由人</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-2.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">沈默紳士</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-3.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">想見旅人</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-4.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">白話木木</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-5.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">時空旅人</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-6.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">自言自語</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-7.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">繆思</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-8.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">abc創作</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-9.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">集集音響</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-10.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">未知過敏原</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-11.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">森森鈴蘭</h3>
    </div>
  </a>
</li>
<li class="col" data-aos="fade-up">
  <a href="musican-info.html" class="d-block">
    <div class="musican-touch p-2">
      <div class="rounded-circle overflow-hidden mb-4">
        <img src="../assets/images/music-musican-12.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
      </div>
      <h3 class="text-center fs-5">皺序</h3>
    </div>
  </a>
</li>