<div class="container py-20 px-lg-20">
  <h2 class="mb-4 pb-2 fs-8 text-center text-lg-start">專輯</h2>
  <ul class="row row-cols-1 row-cols-md-2 g-4">
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="container py-20 px-lg-20">
  <h2 class="mb-4 pb-2 fs-8 text-center text-lg-start">單曲</h2>
  <ul class="row row-cols-1 row-cols-md-2 g-4">
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col">
      <div class="card border-0 shadow rounded-20 overflow-hidden">
        <div class="row g-0">
          <div class="col-4">
            <div class="position-relative">
              <img src="../assets/images/hot-8.jpg" style="height: 136px" class="w-100 rounded-start object-fit-cover" alt="music">
              <a href="#" class="music-hover d-flex align-items-end justify-content-end">
                <span class="material-icons fs-14 text-primary">play_circle</span>
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body d-flex flex-column h-100">
              <h3 class="card-title fs-5"><a href="#">這是歌的名稱</a></h3>
              <p class="card-text mb-auto"><a href="#">沈默紳士</a></p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-symbols-outlined fs-4 fs-lg-6">favorite</span>
                  <span class="material-icons d-none fs-4 fs-lg-6">favorite</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">share</span>
                </button>
                <button class="btn btn-outline-gray-800 border-2 p-2 d-flex align-items-center justify-content-center">
                  <span class="material-icons fs-4 fs-lg-6">add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>