<div class="container pt-6 pb-20 px-lg-20">
  <h2 class="fs-7 mb-6 text-center text-lg-start text-gray-800">專輯</h2>
  <div class="musician-favorite-album">
    <%- include('./components/music-list'); -%>
  </div>
</div>

<div class="bg-gray-100 rounded-top-right-120">
  <div class="container py-20 px-lg-20">
    <h2 class="fs-7 mb-6 text-center text-lg-start text-gray-800">單曲</h2>
    <div class="musician-favorite-single">
      <%- include('./components/music-list'); -%>
    </div>
  </div>
</div>