<div class="container pt-6 pb-20 px-lg-20">
  <div class="row justify-content-center">
    <div class="col">
      <ul class="row row-cols-1 row-cols-lg-2 gy-3">
        <li class="col">
          <div class="shadow rounded-30">
            <div class="p-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle object-fit-cover" style="height: 80px; width:80px;" src="../assets/images/music-musican-14.jpg" alt="沈默紳士">
                <div class="ms-6">
                  <p class="fs-5">沈默紳士</p>
                  <span class="text-gray-400">27分鐘前</span>
                </div>
              </div>
              <p class="my-4">我的新專出爐啦 🎉 🎉 🎉</p>
              <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                <div class="d-flex align-items-center">
                  <img class="rounded-10 object-fit-cover" style="height: 76px; width: 76px;" src="../assets/images/music-1.jpg" alt="music">
                  <div class="ms-6">
                    <p class="mb-1 fs-4h">逆世代Reverse</p>
                    <p class="mb-1 text-gray-600">沈默紳士</p>
                    <div class="d-flex gap-2">
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">add</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="shadow rounded-30">
            <div class="p-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle object-fit-cover" style="height: 80px; width:80px;" src="../assets/images/music-musican-14.jpg" alt="沈默紳士">
                <div class="ms-6">
                  <p class="fs-5">沈默紳士</p>
                  <span class="text-gray-400">3天前</span>
                </div>
              </div>
              <p class="my-4">分享一下我朋友的專輯</p>
              <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                <div class="d-flex align-items-center">
                  <img class="rounded-10 object-fit-cover" style="height: 76px; width: 76px;" src="../assets/images/music-7.jpg" alt="music">
                  <div class="ms-6">
                    <p class="mb-1 fs-4h">是的，就是別人的</p>
                    <p class="mb-1 text-gray-600">八三二十五</p>
                    <div class="d-flex gap-2">
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">add</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="shadow rounded-30">
            <div class="p-4">
              <div class="d-flex align-items-center">
                <img class="rounded-circle object-fit-cover" style="height: 80px; width:80px;" src="../assets/images/music-musican-14.jpg" alt="沈默紳士">
                <div class="ms-6">
                  <p class="fs-5">沈默紳士</p>
                  <span class="text-gray-400">一個月前</span>
                </div>
              </div>
              <p class="my-4">太好聽了吧！我要哭了QQ</p>
              <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                <div class="d-flex align-items-center">
                  <img class="rounded-10 object-fit-cover" style="height: 76px; width: 76px;" src="../assets/images/music-3.jpg" alt="music">
                  <div class="ms-6">
                    <p class="mb-1 fs-4h">最後一根稻草的請求</p>
                    <p class="mb-1 text-gray-600">沈默紳士</p>
                    <div class="d-flex gap-2">
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">add</span>
                      </button>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</div>