<div class="pt-4 pt-lg-6">

  <!-- 關於 -->
  <div class="container px-lg-20 pb-20">
    <h2 class="mb-6 fs-8 text-center text-lg-start">關於 沈默紳士</h2>
    <div class="d-flex flex-column gap-4">
      <p>
        沈默紳士 Silent Gentlemen<br>
        2019年9月18日成立於台北。<br>
      </p>
      <p>
        『團員個性悶騷、話少，但又有著紳士般的神秘氣息，因此命名為沈默紳士。』<br>
        『雖然沈默，但我們會在音樂裡投入我們所有的情感，讓你聽見我們的故事。』
      </p>
      <p>
        曲風以POP ROCK為主，以生活周遭發生的大小事作為創作靈感來源。<br>
        成團至今已邁入第三年，也累積數首創作。<br>
        於2021/12/18在街聲發表首支單曲-最後一根稻草的請求The Last Demand，寫出被網路霸凌者的心聲，得到不錯的迴響！<br>
        更在2022/1/29發布抒情主打歌－曾經Once，蟬聯了兩週的街聲排行榜冠軍！<br>
        預計要在2023年推出樂團首張創作專輯。
      </p>
      <p>
        演出、工作請聯繫：<br>
        <a href="mailto: baodaorecords@gmail.com">baodaorecords@gmail.com</a>
      </p>
    </div>
  </div>

  <!-- 相關文章 -->
  <div class="bg-gray-100 rounded-top-right-120">
    <div class="container px-lg-20 py-20">
      <h2 class="mb-6 fs-8 text-center text-lg-start">專題人物誌</h2>
      <ul class="row row-cols-1 row-cols-lg-2 g-4">
        <li class="col">
          <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
            <div class="py-6 px-8 flex-grow-1 border-bottom">
              <span class="d-block mb-2 font-jost">2023/09/17</span>
              <div class="d-flex">
                <h3 class="fs-6 me-6 ellipsis-2">沉默紳士：音樂背後的隱藏故事</h3>
                <a href="#" class="stretched-link">
                  <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
                </a>
              </div>
            </div>
            <div class="py-4 px-8">
              <p class="ellipsis-3 text-justify">探索樂團沉默紳士的音樂之旅，背後有哪些深藏不露的故事和情感。我們將深入研究他們的音樂創作過程，揭示他們如何透過音樂表達情感，以及他們在音樂界的演進。一窺沉默紳士的音樂之魂，探索他們的靈感來源和獨特的音樂風格。</p>
            </div>
            <div class="pb-4 px-4">
              <div class="rounded-30 overflow-hidden">
                <img src="../assets/images/music-musican-10.jpg" class="article-img w-100 object-fit-cover" alt="article">
              </div>
            </div>
          </div>
        </li>

        <li class="col">
          <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
            <div class="py-6 px-8 flex-grow-1 border-bottom">
              <span class="d-block mb-2 font-jost">2023/09/10</span>
              <div class="d-flex">
                <h3 class="fs-6 me-6 ellipsis-2">沉默紳士：音樂舞台上的震撼表現</h3>
                <a href="#" class="stretched-link">
                  <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
                </a>
              </div>
            </div>
            <div class="py-4 px-8">
              <p class="ellipsis-3 text-justify">深入瞭解樂團沉默紳士在音樂舞台上的精彩演出和音樂旅程。我們將回顧他們的巡演歷程、音樂會現場的魅力，以及觀眾如何與他們的音樂互動。探索他們如何透過音樂打造令人難以忘懷的現場體驗，以及他們在音樂演出中的表現技巧。</p>
            </div>
            <div class="pb-4 px-4">
              <div class="rounded-30 overflow-hidden">
                <img src="../assets/images/music-musican-11.jpg" class="article-img w-100 object-fit-cover" alt="article">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>