<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/17</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">艾莉西亞的勵志之旅：音樂天后的故事</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">探索格萊美獲獎歌手艾莉西亞·凱斯的生平旅程，從她在紐約的小城市開始，一直到成為音樂界的傳奇天后。這篇文章將帶您走進她的音樂才華、勵志成就以及如何影響世界的力量。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-10.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>

<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/10</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">約翰傳奇：勵志音樂與人生</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">約翰·傳奇不僅是一位出色的音樂家，還是一個生活的榜樣。這篇簡介將探討他的音樂如何啟發人們，並深入了解他在面對挑戰時如何繼續前進，成為一位真正的勵志人物。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-11.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>

<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/03</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">泰勒的勵志音樂革命：歌手的心聲</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">泰勒·斯威夫特以其深刻的歌詞和多樣化的音樂風格而聞名，她的音樂帶有強烈的勵志元素。這篇文章將深入挖掘她如何通過音樂表達情感，並探討她的音樂如何在人們的生活中引起共鳴。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-12.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>

<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/17</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">艾莉西亞的勵志之旅：音樂天后的故事</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">探索格萊美獲獎歌手艾莉西亞·凱斯的生平旅程，從她在紐約的小城市開始，一直到成為音樂界的傳奇天后。這篇文章將帶您走進她的音樂才華、勵志成就以及如何影響世界的力量。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-10.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>

<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/10</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">約翰傳奇：勵志音樂與人生</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">約翰·傳奇不僅是一位出色的音樂家，還是一個生活的榜樣。這篇簡介將探討他的音樂如何啟發人們，並深入了解他在面對挑戰時如何繼續前進，成為一位真正的勵志人物。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-11.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>

<li class="col">
  <div data-aos="zoom-in-up" class="h-100 d-flex flex-column rounded-30 overflow-hidden shadow position-relative box-hover musican-touch">
    <div class="py-6 px-8 flex-grow-1 border-bottom">
      <span class="d-block mb-2 font-jost">2023/09/03</span>
      <div class="d-flex">
        <h3 class="fs-6 me-6">泰勒的勵志音樂革命：歌手的心聲</h3>
        <a href="#" class="stretched-link">
          <i class="bi bi-arrow-up-right-circle-fill d-block text-primary fs-10"></i>
        </a>
      </div>
    </div>
    <div class="py-4 px-8">
      <p class="multiline-ellipsis text-justify">泰勒·斯威夫特以其深刻的歌詞和多樣化的音樂風格而聞名，她的音樂帶有強烈的勵志元素。這篇文章將深入挖掘她如何通過音樂表達情感，並探討她的音樂如何在人們的生活中引起共鳴。</p>
    </div>
    <div class="pb-4 px-4">
      <div class="rounded-30 overflow-hidden">
        <img src="../assets/images/music-musican-12.jpg" class="article-img w-100 object-fit-cover" alt="article">
      </div>
    </div>
  </div>
</li>