<div class="container-fluid position-fixed bottom-0 d-none d-lg-block" style="z-index: 100;">
  <div class="row justify-content-end">
    <div class="col-12 col-lg-4 col-xxl-3">
      <div class="bg-white rounded-top-10 shadow overflow-hidden">
        <div class="progress w-100" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 50%"></div>
        </div>
        <div class="pt-3 p-2">
          <div class="row g-0">
            <div class="col-3">
              <img src="../assets/images/music-musican-14.jpg" style="height: 72px" class="w-100 rounded-10 object-fit-cover" alt="music">
            </div>
            <div class="col-9">
              <div class="d-flex align-items-center justify-content-between h-100 px-4">
                <div class="d-flex flex-column justify-content-center">
                  <p><a href="#">這是歌的標題</a></p>
                  <p><a href="#" class="text-gray-600">沈默紳士</a></p>
                </div>
                <button class="btn p-0">
                  <i class="bi bi-play-circle-fill fs-9 text-secondary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>