.banner-img{
  height: 266px;

  @include media-breakpoint-up(lg){
    height: 800px;
  }
}

.hot-img{
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.today-img{
  width: 100%;
  height: 300px;
  object-fit: cover;

  @include media-breakpoint-up(lg){
    height: 330px;
  }
}

.music-type-img{
  height: 115px;

  @include media-breakpoint-up(lg){
    height: 212px;
  }
}

.musican-img{
  height: 164px;

  @include media-breakpoint-up(lg){
    height: 196px;
  }
}
