<!-- index, charts -->
<div class="music-rank-all">
  <table class="table align-middle text-center table-hover">
    <thead>
      <tr class="text-gray-400">
        <td width="10%">#</td>
        <td class="table-hidden"></td>
        <td></td>
        <td class="text-start table-full">歌曲名稱</td>
        <td class="table-hidden text-end"></td>
        <td class="text-end table-hidden">播放數</td>
        <td class="table-hidden">
          <span class="material-icons align-middle fs-5 mb-1">schedule</span>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-1.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">八寶公主</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">A Root 同根生</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
        <td class="text-end table-hidden">51,167</td>
        <td class="table-hidden">3:12</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-danger">expand_less</span>
        </td>
        <td>
          <img src="../assets/images/hot-2.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">你早已不在我身旁 (溫柔版)</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">八青哥</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
        <td class="text-end table-hidden">48,167</td>
        <td class="table-hidden">4:52</td>
      </tr>
      <tr>
        <td>3</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-3.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">人生公開說明書</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Traveller旅人</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
        <td class="text-end table-hidden">43,217</td>
        <td class="table-hidden">5:21</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-4.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">反烏托邦 Dystopia</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">昴宿 Pleiades</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">34,573</td>
        <td class="table-hidden">4:48</td>
      </tr>
      <tr>
        <td>5</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-5.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">離開台北市我裸體</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">NeaR Band 你家附近的阿伯</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">31,244</td>
        <td class="table-hidden">3:42</td>
      </tr>
      <tr>
        <td>6</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-danger">expand_less</span>
        </td>
        <td>
          <img src="../assets/images/hot-6.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">今天沒呼吸的心情</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">森森鈴蘭Lily_linglan</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">29,345</td>
        <td class="table-hidden">5:12</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-7.jpg" class="hot-img rounded-4" alt="">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">給你的光</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">自言自語Murmur</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">27,495</td>
        <td class="table-hidden">4:32</td>
      </tr>
      <tr>
        <td>8</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-8.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">你以外的日常(ft. 理想混蛋 雞丁)</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Who Cares 胡凱兒</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">22,346</td>
        <td class="table-hidden">3:36</td>
      </tr>
      <tr>
        <td>9</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-9.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">失落樂園</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Annie 張苡宸</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">18,493</td>
        <td class="table-hidden">3:56</td>
      </tr>
      <tr>
        <td>10</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-10.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">也許啊 Maybe</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">鄒序 hogan</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">16,342</td>
        <td class="table-hidden">4:05</td>
      </tr>
      <tr>
        <td>11</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-1.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">八寶公主是一首歌曲名稱很長很長很長的歌，八寶公主是一首歌曲名稱很長很長很長的歌</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">A Root 同根生</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">51,167</td>
        <td class="table-hidden">3:12</td>
      </tr>
      <tr>
        <td>12</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-danger">expand_less</span>
        </td>
        <td>
          <img src="../assets/images/hot-2.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">你早已不在我身旁 (溫柔版)</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">八青哥</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">48,167</td>
        <td class="table-hidden">4:52</td>
      </tr>
      <tr>
        <td>13</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-3.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">人生公開說明書</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Traveller旅人</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">43,217</td>
        <td class="table-hidden">5:21</td>
      </tr>
      <tr>
        <td>14</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-4.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">反烏托邦 Dystopia</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">昴宿 Pleiades</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">34,573</td>
        <td class="table-hidden">4:48</td>
      </tr>
      <tr>
        <td>15</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-5.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">離開台北市我裸體</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">NeaR Band 你家附近的阿伯</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">31,244</td>
        <td class="table-hidden">3:42</td>
      </tr>
      <tr>
        <td>16</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-danger">expand_less</span>
        </td>
        <td>
          <img src="../assets/images/hot-6.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">今天沒呼吸的心情</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">森森鈴蘭Lily_linglan</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">29,345</td>
        <td class="table-hidden">5:12</td>
      </tr>
      <tr>
        <td>17</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-7.jpg" class="hot-img rounded-4" alt="">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">給你的光</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">自言自語Murmur</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">27,495</td>
        <td class="table-hidden">4:32</td>
      </tr>
      <tr>
        <td>18</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-8.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">你以外的日常(ft. 理想混蛋 雞丁)</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Who Cares 胡凱兒</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">22,346</td>
        <td class="table-hidden">3:36</td>
      </tr>
      <tr>
        <td>19</td>
        <td class="table-hidden">
          <span class="material-icons">remove</span>
        </td>
        <td>
          <img src="../assets/images/hot-9.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">失落樂園</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">Annie 張苡宸</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">18,493</td>
        <td class="table-hidden">3:56</td>
      </tr>
      <tr>
        <td>20</td>
        <td class="table-hidden">
          <span class="material-symbols-outlined text-success">expand_more</span>
        </td>
        <td>
          <img src="../assets/images/hot-10.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">也許啊 Maybe</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">鄒序 hogan</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </butto>
            <butto class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </butto>
          </div>
        </td>
        <td class="text-end table-hidden">16,342</td>
        <td class="table-hidden">4:05</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- musician-info -->
<div class="music-rank-person">
  <table class="table align-middle text-center table-hover">
    <thead>
      <tr class="text-gray-400">
        <td width="10%">#</td>
        <td></td>
        <td class="text-start table-full">歌曲名稱</td>
        <td class="table-hidden text-end"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <img src="../assets/images/music-1.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">曾經 Once</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">沈默紳士</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <img src="../assets/images/music-1.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">你早已不在我身旁 (溫柔版)</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">沈默紳士</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <img src="../assets/images/music-2.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">狗勾Demo ft.靜芳</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">沈默紳士</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          <img src="../assets/images/music-3.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">最後一根稻草的請求</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">沈默紳士</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          <img src="../assets/images/music-2.jpg" class="hot-img rounded-4" alt="song-cover">
        </td>
        <td class="text-start">
          <h3 class="fs-4h mb-1 ellipsis-1"><a href="#">讓我們飛 Let Us Fly</a></h3>
          <p><a href="#" class="fs-4 text-gray-400">沈默紳士</a></p>
        </td>
        <td class="table-hidden">
          <div class="d-flex gap-2 justify-content-end">
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">add</span>
            </button>
            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>