<div class="today-music">
  <div class="d-flex flex-column gap-4">
    <!-- index 今日推薦 -->
    <div class="border border-gray-200 rounded-5 p-8 d-flex flex-column">
      <h2 class="fs-6 mb-4">今日推薦</h2>
      <img src="../assets/images/today.jpg" class="today-img w-100 object-fit-cover mb-4 rounded-20" alt="today">
      <div class="d-flex">
        <div>
          <h3 class="mb-2 fs-5 text-justify ellipsis-2">今天可不可以不回家</h3>
          <p class="text-gray-400 ellipsis-1">LUCKY-RIRI</p>
        </div>
        <div class="ms-auto d-flex gap-2 mb-4">
          <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
            <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
          </button>
          <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
            <span class="material-icons" style="font-size: 20px;">add</span>
          </button>
        </div>
      </div>
      <a href="search.html" class="mt-4 h-100 btn-base btn-main">點我聽更多</a>
    </div>

    <!-- index 來點驚喜 -->
    <div class="border border-gray-200 rounded-5 p-8 d-flex flex-column">
      <div class="d-flex justify-content-between">
        <h2 class="fs-6 mb-4">來點驚喜...</h2>
        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
          <span class="material-icons" style="font-size: 20px;">shuffle</span>
        </button>
      </div>
      <img src="../assets/images/surprise.jpg" class="today-img w-100 object-fit-cover mb-4 rounded-20" alt="">
      <div class="d-flex">
        <div class="me-3">
          <h3 class="mb-2 fs-5 text-justify ellipsis-2">巴賴Balai（排灣傳統織布時尚服裝秀_走秀混音作品）</h3>
          <p class="text-gray-400 ellipsis-1">巴賴 (Balai)</p>
        </div>
        <div class="ms-auto d-flex gap-2 mb-4">
          <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
            <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
          </button>
          <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
            <span class="material-icons" style="font-size: 20px;">add</span>
          </button>
        </div>
      </div>
      <a href="search.html" class="mt-4 h-100 btn-base btn-main">點我聽更多</a>
    </div>
  </div>
</div>

<div class="musician-info h-100">
  <!-- musician 焦點作品 -->
  <div class="border border-gray-200 rounded-5 p-6 d-flex flex-column h-100">
    <img src="../assets/images/today.jpg" class="today-img w-100 object-fit-cover mb-4 rounded-20" alt="today">
    <div class="d-flex flex-column h-100">
      <h3 class="mb-2 fs-5 text-justify ellipsis-2"><a href="#">今天可不可以不回家</a></h3>
      <p class="text-gray-400 ellipsis-1"><a href="#">LUCKY-RIRI</a></p>
      <div class="d-flex gap-2 mt-auto">
        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
          <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
        </button>
        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
          <span class="material-icons" style="font-size: 20px;">add</span>
        </button>
        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
          <span class="material-icons" style="font-size: 20px;">play_arrow</span>
        </button>
      </div>
    </div>
  </div>
</div>