.list-charts{
  
  &:hover{
    padding-left: 12px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      right: 0;
      width: 4px;
      height: 20px;
      border-radius: 50px;
      background-color: #000;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      right: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $primary;
      animation-name: slidein;
      animation-duration: .2s;
    }

    @keyframes slidein {
      from{
        top: 28px;
    }
    to{
        top: -8px;
    }
    }
  }
}

.current{
  padding-left: 12px;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    right: 0;
    width: 4px;
    height: 20px;
    border-radius: 50px;
    background-color: $gray-800;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $primary;
  }
}

/* 列表 icon  */
.co-icon{
  color: $gray-200;
  background-color: $white;

  &:hover{
    color: $primary;
    background-color: $gray-800;

    &span{
      color: $primary;
    }
  }
}