// banner
.banner-img{
  height: 256px;

  @include media-breakpoint-up(lg){
    height: 100vh;
  }
}

.mirror-image{
  transform:scaleX(-1);
}


// table
.table-hidden{
  @include media-breakpoint-down(lg){
    display: none;
  }
}

.table-full{
  width: 60%;

  @include media-breakpoint-up(lg){
    width: 40%;
  }
}


// hot
.hot-img{
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.today-img{
  height: 300px;

  @include media-breakpoint-up(lg){
    height: 330px;
  }
}


// music search
.music-type-img{
  height: 115px;

  @include media-breakpoint-up(lg){
    height: 212px;
  }
}
