

.banner-title{
  font-size: 28px;

  @include media-breakpoint-up(lg){
    font-size: 64px;
  }
}

.table-hidden{
  @include media-breakpoint-down(lg){
    display: none;
  }
}

.table-full{
  width: 60%;

  @include media-breakpoint-up(lg){
    width: 40%;
  }
}
