.rounded-bottom-30 {
  border-radius: 0 0 40px 40px;
}

.musican-screen {
  height: auto;

  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}

.musican-personal {
  height: 356px;

  @include media-breakpoint-up(lg) {
    height: calc(100vh / 5 * 3);
  }
}

.musican-info {
  height: fit-content;

  @include media-breakpoint-up(lg) {
    height: calc(100vh / 5 * 2);
  }
}


.bg-radius-right::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  border-radius: 100px 0 0 0;

  @include media-breakpoint-up(lg) {
    width: 59%;
  }
}


.bg-radius-left::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: $gray-100;
  border-radius: 0 100px 100px 0;

  @include media-breakpoint-up(lg) {
    width: 59%;
  }
}


.musican-touch {
  img {
    transform: scale(1);
    transition: all .3s ease;
  }

  &:hover {
    &>.rounded-circle{
      box-shadow: 4px 4px 12px $gray-400;
    }

    img {
      transform: scale(1.2);
    }
  }
}


.song-img {
  height: 396px;

  @include media-breakpoint-up(lg) {
    height: 480px;
  }
}

.musican-banner {
  height: 296px;

  @include media-breakpoint-up(lg) {
    height: calc(100vh / 5 * 3);
  }
}