// 箭頭
.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    width: 48px;
    height: 48px;
    border: 1px solid $gray-400;
    border-radius: 50%;

    &::after {
        content: '';
    }
}


.swiper-btn {
    font-size: 32px;
    color: $gray-400;
}

.hit-img {
    height: 300px;

    @include media-breakpoint-up(lg) {
        height: 330px;
    }
}