<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
  <title>coMusic | 夢想是起點 但創作沒有終點</title>


  <!-- for dev -->
  <style>
    .test{
      outline: 1px solid red;
    }
  </style>

</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="pt-18 pt-lg-0">
      <div class="container my-18">
        <h2 class="my-10 pt-5 pb-5 border-bottom border-light">排行榜</h2>
        <div class="row">
          <div class="col-lg-4 bg-light rounded-3 py-5 px-2">
            <h4 class="m-2">分類排行榜</h4>
            <ul class="list-unstyled p-3">
              <li class="my-1"><a class="d-block link-dark py-2" href="#">即時熱門</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">所有類型</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">民謠/抒情/Acapella/成人當代</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">搖滾/另類/金屬/龐克</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">嘻哈/饒舌/雷鬼/Funk</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">舞曲/Remix/ACG/電音</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">R&B/靈魂/藍調/爵士/拉丁</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">古典/演奏/New Age</a></li>
              <li class="my-1"><a class="d-block link-dark py-2" href="#">世界音樂/民樂/傳統戲曲/說唱藝術</a></li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="container">
              <div class="d-flex justify-content-sm-between align-items-center mb-8">
                <h3 class="">即時熱門</h3>
                <a href="#" class="btn btn-primary d-inline-block px-6 py-2">
                  全部播放
                </a>
              </div>
              <table class="table align-middle text-center table-hover">
                <!-- <thead>
                  <tr class="text-gray-400">
                    <td width="10%">#</td>
                    <td class="table-hidden"></td>
                    <td></td>
                    <td class="text-start table-full">標題</td>
                    <td class="table-hidden"></td>
                    <td class="text-end table-hidden">次數</td>
                    <td class="table-hidden">時間</td>
                  </tr>
                </thead> -->
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-1.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-2.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="table-hidden">
                      <span class="material-symbols-outlined text-danger">expand_less</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-3.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-4.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td class="table-hidden">
                      <span class="material-symbols-outlined text-success">expand_more</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-5.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td class="table-hidden">
                      <span class="material-symbols-outlined text-danger">expand_less</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-6.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-7.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-8.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-9.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td class="table-hidden">
                      <span class="material-icons">remove</span>
                    </td>
                    <td>
                      <img src="../assets/images/hot-10.jpg" class="hot-img rounded-4" alt="">
                    </td>
                    <td class="text-start">
                      <p class="my-0 py-0 mb-1">八寶公主</p>
                      <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                    </td>
                    <td class="table-hidden">
                      <div class="d-flex gap-2">
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">favorite_border</span>
                        </button>
                        <button class="border border-gray-200 rounded-circle d-flex justify-content-center align-items-center bg-white" style="width: 28px;height: 28px">
                          <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </td>
                    <td class="text-end table-hidden">51167</td>
                    <td class="table-hidden">3:12</td>
                  </tr>
                </tbody>
              </table>
              <!-- <a href="#" class="btn-base btn-sec mt-auto mx-auto w-fit-content">點我聽更多</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>