<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
  <title>coMusic | 夢想是起點 但創作沒有終點</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="pt-18 pt-lg-0 overflow-hidden">
      <div class="container pt-18 bg-primary" style="height: 800px;">
        排行榜
      </div>
    </div>

    <main class="pt-18 pt-lg-0 overflow-hidden">
      <div class="mb-16 mb-lg-20 overflow-hidden">
        <div class="container position-relative">
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a href="#">
                  <img src="https://s3-alpha-sig.figma.com/img/d6d8/1b4c/5c4fa3ff51ab37b9e1e9251717cca969?Expires=1694995200&Signature=PD4M8sVu61kE4EJ3FeIjz6V11Wj0wgFWEsodU~RMhH8QShZvJ920Cv3cuAO0qbNYKSAgIh6Vfo9tA7ERSbpKXYCWouNWeyr3qVLqdnxtDFqC2vDoWHoewquJ6KW2Ye~2YUcHiqRrMjKODy8f~7wS8xOl9556Fsy8xUswvRLQ~4nfIzvGOGI2gxt0H9vhQEI3JD3ZViP91KP3aFMq~-vDZppgyVE1t4zc7YIM9DgcOnHqg2Z50biWssA-8J8UjywiL~aW8GxitwSyKWaYsO9eXVTIhb5~BjGa-genUls5cbV5SQk4MGZ5zxDbjDcS5Indgx-6eVTAe0EZSLtOFx7xGg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                </a>
              </li>
              <li class="swiper-slide">
                <a href="#">
                  <img src="https://s3-alpha-sig.figma.com/img/5959/62c3/a67aaae7ba9a02a596ef0ca65690e2ea?Expires=1694995200&Signature=kMtNsb3lAec7LOAr0l0WpDmsFhXTHd4S74kqye0ScdPNdO0dttGajkcFUPlPw7S66uPHRMcj9pYKfmAD5bNK13s9yLDsE2Y7wJmOzZ4m5lp7ByqeBqSZI8JLs6swKV21BwrcZngum7mG1xFtsSRN2v2FjUiY2LCgS5JTYXC3FvXhjtxnj4o-zHfNA8lIz6jNaFapuXE2HsiRolsVxfzKMQWWNEv2tSbj~Mu5KzY1rfWMOVhJOmzCRXwmouRetqKrZpyKV-GR7WKa-C7~pb0En7qA7sZhx2jGlSxYRf4u-nZTRjtHQ8l3erU93wedeYrh~xXYZC4kfcOUVcKQTNa9bQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                </a>
              </li>
              <li class="swiper-slide">
                <a href="#">
                  <img src="https://s3-alpha-sig.figma.com/img/16e9/725e/866d71f50f821680cf81daf95545c2d1?Expires=1694995200&Signature=FrdBQ16dcNaxWG7FBrGH7cNGLLq8HWwesGnysI8lCMmyZ-IsX5VuV6QLd1OCcP~lqf6yCA94klsx5f0RrU05S~6jfcNSvS13XfDGZOJr7JGx2UYLc~b0iGu5HiYxZ2HOIo5-S77LwOgRWuZYg5ODfldSL4xbF2415UmL-WynWoNuP4hXLG2qZniIcB03FEln9WShLdE0KI0Duj9i~URyvikMMUE4hte1Z-pNLUdC7I7ZpYESfjvWJvoaZGeMy-2DwSNdYOiRbNbURe4laUhrozYajK3h7kOt~Af6cpk4mEEJ7qkqlBhsAhgSKeppSd0o3eH7k-rwRwedBquwzHoxrA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                </a>
              </li>
            </ul>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script>
        // var swiper = new Swiper(".mySwiper", {
        //   slidesPerView: 1,
        //   centeredSlides: false,
        //   slidesPerGroupSkip: 1,
        //   grabCursor: true,
        //   keyboard: {
        //     enabled: true,
        //   },
        //   breakpoints: {
        //     769: {
        //       slidesPerView: 2,
        //       slidesPerGroup: 2,
        //     },
        //   },
        //   scrollbar: {
        //     el: ".swiper-scrollbar",
        //   },
        //   navigation: {
        //     nextEl: ".swiper-button-next",
        //     prevEl: ".swiper-button-prev",
        //   },
        //   pagination: {
        //     el: ".swiper-pagination",
        //     clickable: true,
        //   },
        // });

        // const newsSwiper = new Swiper(".newSwiper", {
        //   slidesPerView: 1,
        //   spaceBetween: 24,
        //   loop: true,
        //   centeredSlides: true,

        //   autoplay: {
        //     delay: 2500,
        //     disableOnInteraction: false,
        //   },

        //   navigation: {
        //     nextEl: ".swiper-button-next",
        //     prevEl: ".swiper-button-prev",
        //     clickable: true,
        //   },

        //   pagination: {
        //     el: ".swiper-pagination",
        //     clickable: true,
        //   },
        // });
      </script>
</body>

</html>