<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>coMusic | 夢想是起點 但創作沒有終點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  
    <main class="pt-18 pt-lg-0 overflow-hidden">
      <!-- banner -->
      <div class="mb-16 mb-lg-20">
        <div style="background-image: url('../assets/images/banner.jpg');background-position: center; background-size: cover;" class="banner-img mirror-image position-relative">
          <div class="container mirror-image h-100 d-flex flex-column justify-content-center align-items-start">
            <h2 class="fs-7 fs-lg-16">夢想是起點<br>但創作沒有終點</h2>
            <p class="fs-5 my-4 my-lg-6">知音就在 coMusic，最美好的音樂社群平台</p>
            <a href="login.html" class="btn-base btn-main">會員登入</a>
          </div>
        </div>
      </div>

      <!-- news -->
      <div class="mb-16 mb-lg-20 overflow-hidden">
        <div class="container position-relative">
          <div class="swiper newsSwiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a href="#"><img src="https://s3-alpha-sig.figma.com/img/d6d8/1b4c/5c4fa3ff51ab37b9e1e9251717cca969?Expires=1694995200&Signature=PD4M8sVu61kE4EJ3FeIjz6V11Wj0wgFWEsodU~RMhH8QShZvJ920Cv3cuAO0qbNYKSAgIh6Vfo9tA7ERSbpKXYCWouNWeyr3qVLqdnxtDFqC2vDoWHoewquJ6KW2Ye~2YUcHiqRrMjKODy8f~7wS8xOl9556Fsy8xUswvRLQ~4nfIzvGOGI2gxt0H9vhQEI3JD3ZViP91KP3aFMq~-vDZppgyVE1t4zc7YIM9DgcOnHqg2Z50biWssA-8J8UjywiL~aW8GxitwSyKWaYsO9eXVTIhb5~BjGa-genUls5cbV5SQk4MGZ5zxDbjDcS5Indgx-6eVTAe0EZSLtOFx7xGg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="news"></a>
              </li>
              <li class="swiper-slide">
                <a href="#"><img src="https://s3-alpha-sig.figma.com/img/5959/62c3/a67aaae7ba9a02a596ef0ca65690e2ea?Expires=1694995200&Signature=kMtNsb3lAec7LOAr0l0WpDmsFhXTHd4S74kqye0ScdPNdO0dttGajkcFUPlPw7S66uPHRMcj9pYKfmAD5bNK13s9yLDsE2Y7wJmOzZ4m5lp7ByqeBqSZI8JLs6swKV21BwrcZngum7mG1xFtsSRN2v2FjUiY2LCgS5JTYXC3FvXhjtxnj4o-zHfNA8lIz6jNaFapuXE2HsiRolsVxfzKMQWWNEv2tSbj~Mu5KzY1rfWMOVhJOmzCRXwmouRetqKrZpyKV-GR7WKa-C7~pb0En7qA7sZhx2jGlSxYRf4u-nZTRjtHQ8l3erU93wedeYrh~xXYZC4kfcOUVcKQTNa9bQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="news"></a>
              </li>
              <li class="swiper-slide">
                <a href="#"><img src="https://s3-alpha-sig.figma.com/img/16e9/725e/866d71f50f821680cf81daf95545c2d1?Expires=1694995200&Signature=FrdBQ16dcNaxWG7FBrGH7cNGLLq8HWwesGnysI8lCMmyZ-IsX5VuV6QLd1OCcP~lqf6yCA94klsx5f0RrU05S~6jfcNSvS13XfDGZOJr7JGx2UYLc~b0iGu5HiYxZ2HOIo5-S77LwOgRWuZYg5ODfldSL4xbF2415UmL-WynWoNuP4hXLG2qZniIcB03FEln9WShLdE0KI0Duj9i~URyvikMMUE4hte1Z-pNLUdC7I7ZpYESfjvWJvoaZGeMy-2DwSNdYOiRbNbURe4laUhrozYajK3h7kOt~Af6cpk4mEEJ7qkqlBhsAhgSKeppSd0o3eH7k-rwRwedBquwzHoxrA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="news"></a>
              </li>
            </ul>
            <div class="swiper-pagination"></div>
          </div>
          <button class="swiper-button-prev swiper-btn swiper-button-prev-news">
            <span class="material-symbols-outlined">chevron_left</span>
          </button>
          <button class="swiper-button-next swiper-btn swiper-button-next-news">
            <span class="material-symbols-outlined">chevron_right</span>
          </button>
        </div>
      </div>

      <!-- 即時熱門 -->
      <div class="mb-16 mb-lg-20">
        <div class="container">
          <div class="row">
            <div data-aos="fade-right" class="col-lg-7 mb-16 mb-lg-0">
              <div class="index-music-rank h-100 d-flex flex-column">
                <div class="d-flex flex-column flex-lg-row justify-content-lg-between mb-4">
                  <h2 class="fs-6 text-nowrap mb-4 mb-lg-0">即時熱門</h2>
                  <select class="form-select w-lg-fit-content" aria-label="news select">
                    <option value="all">所有類型</option>
                    <option value="new">即時新歌</option>
                    <option value="hot">即時熱門</option>
                    <option value="funk">嘻哈/雷鬼</option>
                  </select>
                </div>
                <%- include('./components/music-rank'); -%>
                <a href="charts.html" class="btn-base btn-sec mt-auto mx-auto w-fit-content">點我聽更多</a>
              </div>
            </div>
            <div class="col-lg-5">
              <div data-aos="fade-left" class="index-today">
                <div class="d-flex flex-column gap-4">
                  <!-- index 今日推薦 -->
                  <div class="border border-gray-200 rounded-5 p-8 d-flex flex-column">
                    <h2 class="fs-6 mb-4">今日推薦</h2>
                    <img src="../assets/images/today.jpg" class="today-img w-100 object-fit-cover mb-4 rounded-20" alt="today">
                    <div class="d-flex">
                      <div>
                        <h3 class="mb-2 fs-5 text-justify ellipsis-2">今天可不可以不回家</h3>
                        <p class="text-gray-400 ellipsis-1">LUCKY-RIRI</p>
                      </div>
                      <div class="ms-auto d-flex gap-2 mb-4">
                        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                          <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                        </button>
                        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                          <span class="material-icons" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </div>
                    <a href="search.html" class="mt-4 h-100 btn-base btn-main">點我聽更多</a>
                  </div>
              
                  <!-- index 來點驚喜 -->
                  <div class="border border-gray-200 rounded-5 p-8 d-flex flex-column">
                    <div class="d-flex justify-content-between">
                      <h2 class="fs-6 mb-4">來點驚喜...</h2>
                      <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                        <span class="material-icons" style="font-size: 20px;">shuffle</span>
                      </button>
                    </div>
                    <img src="../assets/images/surprise.jpg" class="today-img w-100 object-fit-cover mb-4 rounded-20" alt="">
                    <div class="d-flex">
                      <div class="me-3">
                        <h3 class="mb-2 fs-5 text-justify ellipsis-2">巴賴Balai（排灣傳統織布時尚服裝秀_走秀混音作品）</h3>
                        <p class="text-gray-400 ellipsis-1">巴賴 (Balai)</p>
                      </div>
                      <div class="ms-auto d-flex gap-2 mb-4">
                        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                          <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                        </button>
                        <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                          <span class="material-icons" style="font-size: 20px;">add</span>
                        </button>
                      </div>
                    </div>
                    <a href="search.html" class="mt-4 h-100 btn-base btn-main">點我聽更多</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 探索 -->
      <div class="mb-16 mb-lg-20">
        <div class="container">
          <h2 class="fs-6 text-center text-lg-start mb-4 mb-lg-10">探索</h2>
          <div class="mb-8">
            <div class="d-flex justify-content-center justify-content-lg-between align-items-center mb-4 mb-lg-10">
              <h3 class="fs-4h">音樂類型</h3>
              <a href="search.html" class="d-none d-lg-block btn-base btn-sec">更多音樂</a>
            </div>
            <ul class="row row-cols-2 row-cols-lg-4 g-3">
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover music-type-img" src="../assets/images/music-type-1.jpg" alt="西洋流行音樂">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">西洋流行音樂
                  </p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover object-position-top music-type-img" src="../assets/images/music-type-2.jpg" alt="韓風流行">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">韓風流行</p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover position-position-10 music-type-img" src="../assets/images/music-type-3.jpg" alt="舞曲/電子樂">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">舞曲/電子樂
                  </p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover music-type-img" src="../assets/images/music-type-4.jpg" alt="R&B">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">R&B</p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover object-position-10 music-type-img" src="../assets/images/music-type-5.jpg" alt="健身">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">健身</p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover music-type-img" src="../assets/images/music-type-6.jpg" alt="拉丁音樂">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">拉丁音樂</p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover music-type-img" src="../assets/images/music-type-7.jpg" alt="民族/奏樂">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">民族/奏樂
                  </p>
                </a>
              </li>
              <li data-aos="fade-up" class="col">
                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative musican-touch">
                  <img class="w-100 object-fit-cover music-type-img" src="../assets/images/music-type-8.jpg" alt="原聲帶">
                  <p class="position-absolute bottom-0 start-0 end-0 bg-opacity-50 py-4 text-white text-center">原聲帶</p>
                </a>
              </li>
            </ul>
            <div class="d-lg-none text-center mt-4">
              <a href="search.html" class="btn-base btn-sec">更多音樂</a>
            </div>
          </div>

          <div>
            <div class="d-flex justify-content-center justify-content-lg-between align-items-center mb-4 mb-lg-10">
              <h3 class="fs-4h">音樂人</h3>
              <a href="musician.html" class="d-none d-lg-block btn-base btn-sec">更多音樂人</a>
            </div>
            <ul data-aos="fade-up" class="row row-cols-2 row-cols-lg-6 g-6">
              <li data-aos="fade-up" class="col" data-aos="fade-up">
                <a href="musician-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-14.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">沈默紳士</h3>
                  </div>
                </a>
              </li>
              <li class="col" data-aos="fade-up">
                <a href="musician-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-1.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">自由人</h3>
                  </div>
                </a>
              </li>
              <li class="col" data-aos="fade-up">
                <a href="musican-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-2.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">王子琴</h3>
                  </div>
                </a>
              </li>
              <li class="col" data-aos="fade-up">
                <a href="musican-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-3.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">想見旅人</h3>
                  </div>
                </a>
              </li>
              <li class="col" data-aos="fade-up">
                <a href="musican-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-4.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">白話木木</h3>
                  </div>
                </a>
              </li>
              <li class="col" data-aos="fade-up">
                <a href="musican-info.html" class="d-block">
                  <div class="musican-touch p-2">
                    <div class="rounded-circle overflow-hidden mb-4">
                      <img src="../assets/images/music-musican-5.jpg" style="aspect-ratio: 1/1;" class="w-100 object-fit-cover" alt="musician">
                    </div>
                    <h3 class="text-center fs-5">時空旅人</h3>
                  </div>
                </a>
              </li>
            </ul>
            <div class="d-lg-none text-center mt-4">
              <a href="musician.html" class="btn-base btn-sec">更多音樂人</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 即時評論 -->
      <div class="mb-16 mb-lg-20 overflow-hidden">
        <div class="container position-relative">
          <h2 class="fs-6 text-center text-lg-start mb-4 mb-lg-10">即時評論</h2>
          <div class="swiper commentSwiper" data-aos="fade-up">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-1.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">小美</p>
                        <span class="text-gray-400">27分鐘前</span>
                      </div>
                    </div>
                    <p class="my-4">太好聽了吧！我要哭了QQ</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-1.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">也許啊 Maybe</p>
                          <p class="mb-1 text-gray-600">皺序 hogan</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-2.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">德華</p>
                        <span class="text-gray-400">30分鐘前</span>
                      </div>
                    </div>
                    <p class="my-4">夭壽，這個辣抹好聽不推不行！</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-2.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">只是聽聽</p>
                          <p class="mb-1 text-gray-600">八三二十五</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-3.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">安久拉</p>
                        <span class="text-gray-400">36分鐘前</span>
                      </div>
                    </div>
                    <p class="my-4">欸不是，這麼好聽是要別的歌手怎麼生存</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-3.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">你知道嗎？歌名超難想</p>
                          <p class="mb-1 text-gray-600">就是我</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-4.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">耶呼</p>
                        <span class="text-gray-400">40分鐘前</span>
                      </div>
                    </div>
                    <p class="my-4">真的推這首音樂</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-4.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">我正在想下一首的歌名是什麼</p>
                          <p class="mb-1 text-gray-600">頭痛</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-5.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">掰name</p>
                        <span class="text-gray-400">55分鐘前</span>
                      </div>
                    </div>
                    <p class="my-4">推推 👍👍👍</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-5.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">到了這，我還是想不出來</p>
                          <p class="mb-1 text-gray-600">這個也很難</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-6.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">德古拉</p>
                        <span class="text-gray-400">1小時前</span>
                      </div>
                    </div>
                    <p class="my-4">OMG，這個超好聽欸</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-6.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">所以說會串接很重要</p>
                          <p class="mb-1 text-gray-600">你看不到</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-7.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">Tami</p>
                        <span class="text-gray-400">1小時前</span>
                      </div>
                    </div>
                    <p class="my-4">哦齁，這麼好聽怎麼辦拉～</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-7.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">想不到還是把我的名字搬出來</p>
                          <p class="mb-1 text-gray-600">Tami</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-8.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">yuan</p>
                        <span class="text-gray-400">1小時前</span>
                      </div>
                    </div>
                    <p class="my-4">聽了非常有感觸</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-8.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">我也把隊友的名字搬出來</p>
                          <p class="mb-1 text-gray-600">yuan</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card rounded-30">
                  <div class="p-4">
                    <div class="d-flex align-items-center">
                      <img class="rounded-circle" style="height: 80px; width:80px;" src="../assets/images/music-musican-9.jpg" alt="user">
                      <div class="ms-8">
                        <p class="fs-6">安安</p>
                        <span class="text-gray-400">2小時前</span>
                      </div>
                    </div>
                    <p class="my-4">音樂靈魂</p>
                    <div class="border border-gray-200 rounded-20 bg-gray-100 p-4">
                      <div class="d-flex align-items-center">
                        <img class="rounded-10" style="height: 76px; width: 76px;" src="../assets/images/music-9.jpg" alt="music">
                        <div class="ms-6">
                          <p class="mb-1 fs-4h">終於結束</p>
                          <p class="mb-1 text-gray-600">給過</p>
                          <div class="d-flex gap-2">
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-symbols-rounded" style="font-size: 18px;">favorite</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">add</span>
                            </button>
                            <button class="co-icon border border-gray-200 rounded-circle d-flex justify-content-center align-items-center" style="width: 28px;height: 28px">
                              <span class="material-icons" style="font-size: 20px;">play_arrow</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
            </ul>
            <div class="swiper-pagination"></div>
          </div>
          <button class="swiper-button-prev swiper-btn swiper-button-prev-comment">
            <span class="material-symbols-outlined">chevron_left</span>
          </button>
          <button class="swiper-button-next swiper-btn swiper-button-next-comment">
            <span class="material-symbols-outlined">chevron_right</span>
          </button>
        </div>
      </div>
    </main>

    <%- include('./layout/player'); -%>
    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
    
</body>

</html>