<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>coMusic | 音樂人</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <div class="musican-screen">
        <div class="row g-0">
          <div class="col-lg-4">
            <div class="musican-personal py-6 px-10 rounded-bottom-30 position-relative" style="background: url(../assets/images/surprise.jpg); background-size: cover; background-position: center;">
              <div class="bg-gray-900 d-none d-lg-block position-absolute top-0 bottom-0 start-0 end-0" style="z-index: -10"></div>
              <div class="h-100 d-none d-lg-flex flex-column justify-content-end">
                <button type="button" class="btn-base btn-main fw-700 mb-4 ms-auto w-fit-content">
                  <div class="track"><i class="bi bi-plus-circle me-2"></i>追蹤</div>
                  <div class="untrack d-none"><i class="bi bi-plus-circle me-2"></i>已追蹤</div>
                </button>
                <div class="row bg-black bg-opacity-50 filter-blur-5 rounded-4 py-3">
                  <div class="col-6 col-lg-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="text-white fs-3h">音樂</div>
                      <p class="fs-6 text-primary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="text-white fs-3h">收藏</div>
                      <p class="fs-6 text-primary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="text-white fs-3h">粉絲</div>
                      <p class="fs-6 text-primary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="text-white fs-3h">追蹤</div>
                      <p class="fs-6 text-primary fw-700">1234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="musican-info py-6 px-10 bg-white bg-lg-gray-900 text-gray-900 text-lg-white">
              <div class="d-flex flex-column align-items-center align-items-lg-start">
                <h1 class="mb-2 position-relative">沈默紳士<a href="#" title="已認證音樂人" class="bi bi-patch-check-fill ms-2 position-absolute bottom-0 text-secondary text-lg-primary fs-6"></a></h1>
                <p class="text-gray-400"><i class="bi bi-geo-alt-fill me-2"></i>Taiwan, Taipei </p>
              </div>
              <div class="d-lg-none">
                <div class="row text-black my-4">
                  <div class="col-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="fs-3h">音樂</div>
                      <p class="fs-6 text-secondary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="fs-3h">收藏</div>
                      <p class="fs-6 text-secondary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="fs-3h">粉絲</div>
                      <p class="fs-6 text-secondary fw-700">1234</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div class="fs-3h">追蹤</div>
                      <p class="fs-6 text-secondary fw-700">1234</p>
                    </div>
                  </div>
                </div>
                <button type="button" class="w-100 btn-base btn-main fw-700"><i class="bi bi-plus-circle me-2"></i>追蹤</button>
              </div>
              <div class="d-none d-lg-block">
                <div class="position-relative d-flex flex-column my-6">
                  <p class="text-justify multiline-ellipsis mb-2">曲風以POP ROCK為主，以生活周遭發生的大小事作為創作靈感來源。成團至今已邁入第三年，也累積數首創作。於2021/12/18在街聲發表首支單曲-最後一根稻草的請求The Last Demand，寫出被網路霸凌者的心聲，得到不錯的迴響！</p>
                  <a href="#" class="text-primary ms-auto">查看更多</a>
                </div>
                <div class="d-flex flex-wrap justify-content-end gap-3">
                  <a href="#" title="前往 Spotify" class="btn btn-outline-light border border-2"><i class="bi bi-spotify"></i></a>
                  <a href="#" title="前往 Youtube" class="btn btn-outline-light border border-2"><i class="bi bi-youtube"></i></a>
                  <a href="#" title="前往 Twitter" class="btn btn-outline-light border border-2"><i class="bi bi-twitter"></i></a>
                  <a href="#" title="前往 Facebook" class="btn btn-outline-light border border-2"><i class="bi bi-facebook"></i></a>
                  <a href="#" title="前往 Apple Music" class="btn btn-outline-light border border-2"><i class="bi bi-music-note-beamed"></i></a>
                  <a href="#" title="前往 Instagram" class="btn btn-outline-light border border-2"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-8">
            <div class="pt-lg-18h">
              <div class="overflow-y-lg-scroll overflow-x-lg-hidden" style="height: calc(100vh - 74px)">
                <div class="container">
                  <div class="d-flex justify-content-center my-6">
                    <ul class="nav" id="myTab">
                      <li class="nav-item">
                        <a href="#post" class="nav-link active" data-bs-toggle="tab">貼文</a>
                      </li>
                      <li class="nav-item">
                        <a href="#create" class="nav-link" data-bs-toggle="tab">音樂</a>
                      </li>
                      <li class="nav-item">
                        <a href="#favorite" class="nav-link" data-bs-toggle="tab">收藏</a>
                      </li>
                      <li class="nav-item">
                        <a href="#about" class="nav-link" data-bs-toggle="tab">關於</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="card-body">
                  <div class="tab-content pb-6">
                    <div class="tab-pane fade show active" id="post">
                      <%- include('./layout/music-list'); -%>
                    </div>
                    <div class="tab-pane fade" id="create">
                      <%- include('./layout/post'); -%>
                    </div>
                    <div class="tab-pane fade" id="favorite">
                      個人收藏
                    </div>
                    <div class="tab-pane fade" id="about">
                      關於我
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="../main.js"></script>
</body>

</html>