<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>coMusic | 音樂人</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <div class="page-top">
        <div class="py-15">
          <div class="container">
            <!-- 推薦音樂人 -->
            <!-- 你最愛的音樂人 -->
            <!-- 音樂人專訪 -->
  
            <div class="mb-16 mb-lg-20">
              <h2 class="mb-6 fs-6">推薦音樂人</h2>
              <ul class="row row-cols-2 row-cols-md-3 row-cols-lg-5 gy-5">
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-1.jpg" alt="森森鈴蘭">
                    <p class="text-black text-center">森森鈴蘭</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-2.jpg" alt="沈默紳士">
                    <p class="text-black text-center">沈默紳士</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-3.jpg" alt="自由人">
                    <p class="text-black text-center">自由人</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-4.jpg" alt="未知過敏原">
                    <p class="text-black text-center">未知過敏原</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-5.jpg" alt="自言自語 MurMur">
                    <p class="text-black text-center">自言自語 MurMur</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-6.jpg" alt="旅行的人">
                    <p class="text-black text-center">旅行的人</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-1.jpg" alt="森森鈴蘭">
                    <p class="text-black text-center">森森鈴蘭</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-2.jpg" alt="沈默紳士">
                    <p class="text-black text-center">沈默紳士</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-3.jpg" alt="自由人">
                    <p class="text-black text-center">自由人</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-4.jpg" alt="未知過敏原">
                    <p class="text-black text-center">未知過敏原</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-5.jpg" alt="自言自語 MurMur">
                    <p class="text-black text-center">自言自語 MurMur</p>
                  </a>
                </li>
                <li class="col">
                  <a href="musican-info.html" class="d-block">
                    <img class="w-100 object-fit-cover musican-img rounded-circle mb-4" src="../assets/images/music-musican-6.jpg" alt="旅行的人">
                    <p class="text-black text-center">旅行的人</p>
                  </a>
                </li>
              </ul>
            </div>
            
            
          </div>
        </div>
        
      </div>
    </main>

    <script type="module" src="../main.js"></script>
</body>

</html>