<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
  <title>coMusic | 夢想是起點 但創作沒有終點</title>

  <!-- for dev -->
  <style>
  .test{
    outline: 1px solid red;
  }
  </style>

</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="pt-18 pt-lg-0 overflow-hidden">
      <div class="container my-18">
        <h2 class="my-10 pt-12 pb-5 border-bottom border-light">歌單</h2>
      </div>
    </div>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>