<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coMusic | 探索</title>
</head>

<body>
    <%- include('./layout/header'); -%>


        <main class="pt-20">

            <!--音樂類型-->
            <div class="mt-6 mb-16 mb-lg-20">
                <div class="container">
                    <h2 class="fs-6 text-center text-lg-start mb-4 mb-lg-10">探索</h2>
                    <div class="mb-4">
                        <h3 class="fs-4h">音樂類型</h3>
                        <ul class="row">
                            <li class="col-lg-4">
                                <a href="#" class="d-block rounded-20 rounded-lg-30 overflow-hidden position-relative">
                                    <img src="/assets/images/music-type-1.jpg" alt="西洋流行音樂">
                                    <p>西洋流行音樂</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </main>




        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>

</body>

</html>