<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/meta'); -%>
        <title>coMusic | 探索</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <!--coMusic推薦-->
        <main>
            <!--banner-->
            <div class="container-fluid bg-dark page-top">
                <div class="container pt-12 pt-lg-15 pb-10">
                    <div class="position-relative d-flex justify-content-center align-items-center">
                        <img src="/assets/images/music-musican-5.jpg" alt="專輯封面"
                            class="object-fit-cover hit-img opacity-75">
                        <h4 class="text-primary text-center position-absolute top-50 start-50 translate-middle fs-10">
                            coMusic
                            推薦</h4>
                    </div>
                </div>
            </div>
            <!--所有音樂-->
            <div class="mt-10 mb-16 mb-lg-20">
                <div class="container">
                    <h2 class="fs-4h text-center text-lg-start mb-4 mb-lg-10">所有音樂</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <ul class="w-100 mb-6">
                            <li class="border-bottom border-gray-200 pb-1 d-flex">
                                <div style="width: 76px" class="me-6"></div>
                                <div class="col-7 text-gray-400">標題</div>
                                <div class="col-2"></div>
                                <div class="col-1 text-gray-400 d-none d-md-block">時間</div>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                            <li class="d-flex align-items-center py-3">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面" class="col-2 rounded-4 hot-img me-6">
                                <div class="col-7">
                                    <p class="my-0 py-0 mb-1">八寶公主</p>
                                    <p class="text-gray-400 mb-0 py-0">A Root 同根生</p>
                                </div>
                                <div class="d-md-flex col-2 d-none d-md-block">
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center me-2 list-icon"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200"
                                            style="font-size: 20px;">favorite_border</span>
                                    </button>
                                    <button
                                        class="border border-gray-200 rounded-circle bg-white d-flex justify-content-center align-items-center"
                                        style="width: 28px;height:28px;">
                                        <span class="material-icons text-gray-200" style="font-size: 20px;">add</span>
                                    </button>
                                </div>
                                <p class="col-1 d-none d-md-block">3:12</p>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>

            <!--你可能也喜歡-->
            <div class="mb-16 mb-lg-20">
                <div class="container">
                    <h2 class="fs-4h text-center text-lg-start mb-4 mb-lg-10">你可能也喜歡</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-3 mb-4">
                            <a href="#" class="d-block position-relative">
                                <img src="/assets/images/hot-1.jpg" alt="專輯封面"
                                    class="w-100 object-fit-cover object-position-10 more-img">
                                <h4
                                    class="position-absolute text-primary text-center position-absolute bottom-0 end-0 fs-10">
                                    華語
                                    <br>
                                    金曲
                                </h4>
                            </a>
                        </div>
                        <div class="col-6 col-md-3 mb-4">
                            <a href="#" class="d-block position-relative">
                                <img src="/assets/images/music-type-5.jpg" alt="專輯封面"
                                    class="w-100 object-fit-cover object-position-10 more-img">
                                <h4
                                    class="position-absolute text-primary text-center position-absolute bottom-0 end-0 fs-10">
                                    我愛
                                    <br>
                                    K歌
                                </h4>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="#" class="d-block position-relative">
                                <img src="/assets/images/music-musican-9.jpg" alt="專輯封面"
                                    class="w-100 object-fit-cover object-position-10 more-img">
                                <h4
                                    class="position-absolute text-primary text-center position-absolute bottom-0 end-0 fs-10">
                                    上班
                                    <br>
                                    輕聽
                                </h4>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="#" class="d-block position-relative">
                                <img src="/assets/images/music-type-7.jpg" alt="專輯封面"
                                    class="w-100 object-fit-cover object-position-10 more-img">
                                <h4
                                    class="position-absolute text-primary text-center position-absolute bottom-0 end-0 fs-10">
                                    情歌
                                    <br>
                                    精選
                                </h4>
                            </a>
                        </div>

                    </div>
                </div>


        </main>




        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>