<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>coMusic | 夢想是起點 但創作沒有終點</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="">
      <div class="container my-18">
        <h2 class="my-10 pt-12 pb-5 border-bottom border-light">歌單</h2>
      </div>
    </div>

    <!-- list 1 -->
    <div class="bg-light">
      <div class="container py-8">
        <div class="row justify-content-end">
          <div class="col-lg-10 g-0 position-relative px-6">
            <div class="swiper swOne" data-aos="fade-up">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源1</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源2</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源3</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源4</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源5</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源6</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源7</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源8</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源9</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="swiper-pagination-swOne text-center"></div>
            </div>
            <button class="swiper-button-prev swiper-btn swiper-button-prev-swOne z-3">
              <span class="material-symbols-outlined">chevron_left</span>
            </button>
            <button class="swiper-button-next swiper-btn swiper-button-next-swOne z-3">
              <span class="material-symbols-outlined">chevron_right</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- list 2 -->
    <div class="bg-warning">
      <div class="container py-8">
        <div class="row justify-content-start">
          <div class="col-lg-10 g-0 position-relative px-6">
            <div class="swiper swTwo" data-aos="fade-up">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="px-4 py-6 bg-white broder-1 border-danger rounded-5">
                    <a href="#" class="d-block mb-4">
                      <img class="w-100 object-fit-cover" src="https://fakeimg.pl/250x250/" alt="">
                    </a>
                    <p class="fs-5 fw-bold">根源</p>
                    <p class="fs-4 mb-3">農村武裝青年</p>
                    <span class="d-flex justify-content-center align-items-center border border-1 border-gray-300 py-1 rounded-5 text-gray text-black-50 w-50">
                      <span class="material-symbols-outlined fs-5 me-1">heart_plus</span>
                      560
                    </span>
                    <div class="border-top border-light pt-5 mt-5">
                      <p class="text-gray-600">40首歌</p>
                      <p class="text-gray-600">發佈更新 2023 年 9 月 15 日</p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="swiper-pagination-swTwo text-center"></div>
            </div>
            <button class="swiper-button-prev swiper-btn swiper-button-prev-swTwo z-3">
              <span class="material-symbols-outlined">chevron_left</span>
            </button>
            <button class="swiper-button-next swiper-btn swiper-button-next-swTwo z-3">
              <span class="material-symbols-outlined">chevron_right</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="my-10">
      <div class="container">我是內容</div>
    </div>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>

</body>

</html>